<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <form>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="Restaurant Name">
                <label for="descriptionInput">Description</label>
                <input type="email" class="form-control" id="floatingInput" placeholder="50.00">
                <label for="expenseInput">Expense</label>
                {{!-- incorporate dropdown if possible--}}
                <input type="email" class="form-control" id="floatingInput" placeholder="07/26/2021">
                <label for="expenseDateInput">Date</label>
                <button class="btn btn-outline-light" type="button">Submit</button>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Add borders</h2>
          {{!-- <img src"quickcharts img goes here">  --}}
        </div>
    </div>
</div>
    
<div class="h-100 p-5 bg-light border rounded-3">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Select Day
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Day 1</a></li>
            <li><a class="dropdown-item" href="#">Day 2</a></li>
            <li><a class="dropdown-item" href="#">Day 3</a></li>
        </ul>
    </div>

    <div id="expensesColumn">
        {{!-- daily expenses for elected date here --}}
    </div>
</div>
