<!-- places section starts  -->

<main class="places" id="places">

    <h1 class="heading">
        <span>e</span>
        <span>x</span>
        <span>p</span>
        <span>e</span>
        <span>n</span>
        <span>s</span>
        <span>e</span>
        <span>s</span>

    </h1>

    <div class="row">

        <form action="" id="create-expense-form">
            <div class="inputBox">
                <h3>Which trip was this expense made on?</h3>
                <select name="trip-select" class="form-control" id="trip-select" placeholder="Which trip was this on?">
                    <option value="">Please Select a Trip!</option>
                    {{#each user.usertrips as |usertrip|}}
                    <option value="{{usertrip.trip.id}}">{{usertrip.trip.title}}</option>
                    {{/each}}
                </select>
                <div>
                    <a href="/places">Haven't shared a trip with us yet? Click here to tell us all about it!</a>
                </div>
            </div>
            <div class="inputBox">
                <h3> description </h3>
                <input class="form-control expense-description" placeholder="restaurant name, etc..." rows="2" id="expense-description" ></input>
            </div>
            <div class="inputBox">
                <h3>cost ($)</h3>
                <input type="text" label="expense-cost" class="form-control expense-cost-input" placeholder="20.00" id="expense-cost" >
            </div>
            <div class="inputBox">
                <h3>date (MM/DD/YYYY)</h3>
                <input type="text" class="form-control expense-day" placeholder="mm/dd/yyyy" id="expense-day" />
            </div>
            <button type="submit" class="btn btn-primary expense-submit">Submit</button>
            <p><br></p>
            <div class="inputBox">
                <h3>Expenses by Date</h3>
            </div>
            <div class="m-2 w-100">
                <div class="inputBox">
                    <h3>trip</h3>
                    <select name="trip-select" class="form-control" id="get-expense-trip-select" placeholder="Which trip was this on?">
                        <option value="">Please select a trip!</option>
                        {{#each user.usertrips as |usertrip|}}
                        <option value="{{usertrip.trip.id}}">{{usertrip.trip.title}}</option>
                        {{/each}}
                    </select>
                    <div>
                        <a href="/places">Haven't shared a trip with us yet? Click here to tell us all about it!</a>
                    </div>
                </div>
                <div class="form-group row align-items-center justify-content-around inputBox">
                    <h3>Date</h3>
                    <div style="width: 60%; margin-left:3px;" class="d-flex">
                        <input type="text" class="form-control day-lookup" placeholder="MM/DD/YYYY"/>
                    </div>
                    <div style="width: 40%;">
                        <button type="click" class="btn btn-primary day-submit">Find Expenses</button>
                    </div>  
                </div>
                <div id='expense-data'>
                    {{!-- add day data here --}}
                </div>
            </div>
            
        </form>
        
        <div class="image" id="chart">
            {{!-- Charts are put in this box --}}
        </div>

    </div>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascript/add-expense.js"></script>
<script src="/javascript/get-expenses.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js" integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascript/generate-chart.js"></script>
<!-- places section ends -->
