<!-- home section starts  -->

<main class="home" id="home">

    <div class="content">
        <h3>A More Rewarding Way To Travel</h3>
        <p>discover new places with us, your next adventure awaits</p>
        <p>explore on a budget and share stories</p>
        <a href="#" class="btn">discover more</a>
    </div>

    <div class="controls">
        <span class="vid-btn active" data-src="images/vid-1.mp4"></span>
        <span class="vid-btn" data-src="images/vid-2.mp4"></span>
        <span class="vid-btn" data-src="images/vid-3.mp4"></span>
        <span class="vid-btn" data-src="images/vid-4.mp4"></span>
        <span class="vid-btn" data-src="images/vid-5.mp4"></span>
    </div>

    <div class="video-container">
        <video src="images/vid-1.mp4" id="video-slider" loop autoplay muted></video>
    </div>

    
</main>
<div class="card-group">
    <h1 class='card-header'>Quick Guide</h1>
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">Create your user</h5>
        <p class="card-text">This will allow you to create a trip on the places tab.</p>
        <p class="card-small-text">First Step</p>
    </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add Expenses to your trip</h5>
            <p class="card-text">After you created your trip you can start adding expenses by the day! and category!</p>
            <p class="card-small-text">Remember to link those expenses to a trip!</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title ">Story Time!</h5>
            <p class="card-text">In the stories tab you can add your Story about a trip you already created, everybody who was on that trip can add post and comments to that story!</p>
            <p class="card-small-text">Anyone can read and comment but only who went on the trip can make a post about it!</p>
        </div>
    </div>
</div>

<!-- home section ends -->