<!-- stories section starts  -->

<main class="posts" id="posts">
    
    <h1 class="heading">
        <span>s</span>
        <span>t</span>
        <span>o</span>
        <span>r</span>
        <span>i</span>
        <span>e</span>
        <span>s</span>
    </h1>

    <div class="row">

        <div class="image">
            <img src="images/posts.jpg" alt="">
        </div>

        <form id="create-story">
            <div class="container">

                    {{#if loggedIn}}

                    <form class="story-form inputBox" id="{{user.id}}">

                        <h3>Title</h3>
                        <div id="title" class="inputBox">
                            <input type="text" id="story-title" name="story-title" class="storyAdd">
                        </div>

                        <h3>Starting Text</h3>
                        <div id="startingText" class="inputBox">
                            <textarea name="story-startingText" id="story-startingText" class="form-control-m storyAdd" rows="3"></textarea>
                        </div>

                        <h3>Which Trip Was It?</h3>
                        <div id="trip-id" class="inputBox">
                            <select name="story-trip-id" id="story-trip-id">

                                <option value="default" selected ></option>
                                {{#each user.usertrips as |usertrip| }}

                                <option data-trip-id="{{usertrip.trip.id}}" data-place-id="{{usertrip.trip.place_id}}">{{usertrip.trip.title}}</option>
                                {{/each}}
                                
                            </select>
                            <div>
                                <a href="/places">Haven't shared a trip with us yet? Click here to tell us all about it!</a>
                            </div>
                        </div>

                        <input type="submit" class="btn" value="post story">

                    </form>

                    {{/if}}
                    <div class="row">
                        <br>
                        {{#each stories as |story| }}
                        <br>
                        {{> story-info story }}
                        {{/each}}
                    </div>
                    
                
            </div>


        </form>

    </div>
    
</main>
{{#if loggedIn}}
<script src="/javascript/add-story.js"></script>
{{/if}}

<!-- stories section ends -->
